var CONFIG_LANG = 'en';
var CONFIG_FULLSCREEN = '/map/examples/angularjs-with-material.html#!';
var CONFIG_LAYERS = [
    {
        url: '/map/data/locations-en.json',
        name: 'Locations',
        type: TYPE_MARKER,
        visible: true
    },
    {
        url: '/map/data/marathon.json',
        name: 'Marathons',
        type: TYPE_TRACK,
        visible: false
    },
    {
        url: '/map/data/protection.json',
        name: 'Protection',
        type: TYPE_KML,
        visible: false
    },
    {
        url: '/map/data/time.json',
        name: 'Time',
        type: TYPE_MARKER,
        visible: false
    }
];