@import "_variables";

@chart-width: 400px;
@chart-height: 135px;
@chart-bottom: 35px;

a {
  cursor: pointer;
}

#chart_container {
  display: none;
  position: absolute;
  bottom: @chart-bottom;
  left: @padding;
  width: @chart-width;
  max-width: ~"calc(100% - @{padding} - @{padding})";
  height: @chart-height;
  background-color: #fff;
  opacity: 0.85;

  > div {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &.on {
    display: block;
  }

}

#chart {
  > .loading {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }

  .google-visualization-tooltip {
    background-color: #ededed;
    padding: 5px;
    border: none;
  }

}

#chart_button_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: @padding;
  z-index: 1;

  svg {
    width: 16px;
    height: 16px;
  }

}
