@padding: 10px;

.gm-style-iw {
  max-width: 285px;
  margin: -8px -14px;
  font-size: 12px !important;

  a {
    color: #333;
    text-decoration: none;

    img {
    }

    h2 {
      padding: 0 @padding;
    }

    p {
      padding: 0 @padding;
    }

  }
}
