@import "_variables";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#map_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  > button {
    display: none;
    position: absolute;
    top: @padding;
    right: @padding;
    z-index: 99;
  }
}

#map {
  height: 100%;
  width: 100%;
}

#map_logo {
  display: block;
  position: absolute;
  background: url("img/logo.svg") no-repeat center;
  background-size: contain;
  top: @padding;
  left: @padding;
  width: 120px;
  height: 33px;
  z-index: 99;

  @media (min-width: 768px) {
    width: 210px;
    height: 57px;
  }

}
