@chart-height: 30%;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

#chart {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: @chart-height;

  & > button {
    position: absolute;
    z-index: 1;
  }

  & > div {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &.on {
    display: block;

    & + #map {
      height: calc(100% ~' - @{chart-height}');
    }

  }

  > #chart_content {
    > .loading {
      position: relative;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
    }
  }

}
