@import "_variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#map_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;

  #map {
    height: 100%;
    width: 100%;
  }

  > button {
    display: none;
    position: absolute;
    top: @padding;
    right: @padding;
    z-index: 99;
  }

  > #map_logo {
    position: absolute;
    top: @padding;
    left: @padding;
    z-index: 99;

    img {
      width: 210px;
      height: auto;
    }
  }

}
