@markerWidth: 32px;
@markerHeightFactor: 1.20711;
@markerHeight: round(@markerHeightFactor * @markerWidth);
@markerColor: cyan;
@shadowOpacity: .5;
@shadow-size: @markerWidth/2;
@pulseWidth: @markerWidth*5;
@pulseDot: 5px;
@pulseColor: #f93c11;

.marker-wrap {
  position: absolute;
  width: @markerWidth;
  height: @markerWidth;
  margin-top: -@markerHeight;
  margin-left: -@markerWidth/2;
  transform-origin: 50% round(@markerHeightFactor * 100%) 0;
}

.color(@name, @color) {
  .marker-@{name} {
    &:before {
      background-color: @color;
      border-color: darken(@color, 10%);
    }
  }
  // exposing colors for parent frame - Deprecated
  /*.checkbox-@{name} {
    input:checked {
      &:after {
        background-color: @color !important;
        border-color: @color !important;
      }
    }
  }*/
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: @markerWidth;
  height: @markerWidth;
  margin-top: -@markerWidth/2;
  margin-left: -@markerWidth/2;
  transform-origin: 50% round(@markerHeightFactor * 100%) 0;
  &:before {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: @markerWidth;
    height: @markerWidth;
    content: '';
    transform: rotateZ(-45deg);
    background-color: @markerColor;
    border: 1px solid darken(@markerColor, 10%);
    border-radius: 50% 50% 50% 0;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #fff;
    width: 16px;
    height: 16px;
    padding: 8px;
  }
}

.color(lakes, #448b89);
.color(waterfalls, #26b1b7);
.color(fishponds, #26b1b7);
.color(monasteries, #ac860c);
.color(monuments, #666666);
.color(springs, #4d84a6);
.color(misc, #e0196a);
.color(picnic-areas, #4f452f);
.color(meadows, #9ca22f);
.color(lookouts, #8c1bdd);

.marker-shadow {
  position: absolute;
  &:after {
    position: absolute;
    left: -100px - @shadow-size/2;
    display: block;
    width: @shadow-size;
    height: @shadow-size;
    margin-top: -@shadow-size/2;
    content: '';
    transform: rotateX(55deg);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, @shadowOpacity) 100px 0 20px;
  }
}

.marker-pulse {
  position: absolute;
  top: @markerHeight;
  left: @markerWidth/2;
  width: @pulseWidth;
  height: @pulseWidth;
  transform: rotateX(60deg) translate(-50%, -100%);
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: @pulseDot;
    height: @pulseDot;
    border-radius: 50%;
    background: @pulseColor;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    animation: pulsate 1s ease-out;
    animation-delay: 1.1s;
    animation-iteration-count: infinite;
    opacity: 0;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 6px 3px @pulseColor;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(.1, .1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
